.answRes{
    display: flex;
    flex-direction: column;
    min-width: 290px;
    button{
        background-color: #FFB273;
        border: none;
        font-family: 'Arsenal', sans-serif;
        font-weight: 700;
        color: #223046;
        font-size: 20px;
        margin-top: 10px;
        width: 100%;
        cursor: pointer;
        outline: none;
    }
    button:hover{
        background-color: #ff702c;
    }
    .correct{
        outline: 3px solid green;
        border: none;
    }
    .incorrect{
        outline: 3px solid red;
        border: none;
    }
}

@media (max-width:600px) {
    .answRes {
        margin: auto;
    }
}
