@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&display=swap');

.final-block {
    font-family: 'Arsenal', sans-serif;
    font-weight: 700;
    color: #223046;
    font-size: 25px;
    background-color: #FFB273;
    margin-top: 50px;
    text-align: center;
    padding: 30px;

    img {
        width: 250px;
    }
}